<configuration>
	
    <appSettings>
	
           <add key="timeInSeconds" value ="8000"/>
	       <add key="email" value ="sivaranjanib99@gmail.com"/>
	      <add key="emailPassword" value="sivaranjani2021"/>
	      <add key="toReportEmail" value="sivaranjanib99@gmail.com"/>
	      <add key="name" value ="Siva Ranjani"/>
		
        </appSettings>
</configuration>
